In [1]:
from blockchain import blockexplorer as explorer
from blockchain import exchangerates

In [2]:
addresses = [
    ('3PajPWymUexhewHPczmLQ8CMYatKAGNj3y','al-Qassam Brigades'),
    ('3LrjAKNfnyX2BGmor6ZNxvZutM1Q3KEejZ','al-Qassam Brigades'),
    ('1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v','al-Qassam Brigades'),
    ('1D9jDMKhss9vtmeRWeBA6tmts52JoQyezk','al-Qassam Brigades'),
    ('1JJrTJgxSNqEPDrRBogD7odjvCwuog9Cqb','al-Qassam Brigades'),
    ('17QAWGVpFV4gZ25NQug46e5mBho4uDP6MD','al-Qassam Brigades'),
    ('1KDFQFnFfy9gJgXF18U3vpfeJQAeixPp1K','al-Qassam Brigades'),
    ('1HQhQfFPesW8znZdsdizHnA8ggvtc6NJ4k','al-Qassam Brigades'),
    ('1AW9z69zW2Wpg5i2gFs9YzkvZLjzDNx5VG','al-Qassam Brigades'),
    ('14EwXyqiB3yVLDJ1zVNevvEDpyyhBdnzjk','al-Qassam Brigades'),
    ('14S3GUHsqSY2am6yCPqEhb72sECUUbnRtE','al-Qassam Brigades'),
    ('14dRMzjmatz7zkc7iRYaitMvw4YPxXJYHf','al-Qassam Brigades'),
    ('1JJQceg2YZuCsJxUvAAVwU2YH4wDwxQoy6','al-Qassam Brigades'),
    ('1EQFWyM1gTus8cnuwHQErnaED3um1py2pF','al-Qassam Brigades'),
    ('19ncZQTCBfvfW5bsM7v3Pe7t6nzu4GZy4r','al-Qassam Brigades'),
    ('15K9Zj1AU2hjT3ebZMtWqDsMv3fFxTNwpf','Al Sadaqah')
]

In [3]:
first_address = explorer.get_address(addresses[0][0])

In [4]:
first_address.__dict__

{'hash160': 'f0227803adf3a087956f4dda7c2b03abe0e497fb',
 'address': '3PajPWymUexhewHPczmLQ8CMYatKAGNj3y',
 'n_tx': 54,
 'total_received': 53308383,
 'total_sent': 53308383,
 'final_balance': 0,
 'transactions': [<blockchain.blockexplorer.Transaction at 0x1047fa0c0>,
  <blockchain.blockexplorer.Transaction at 0x1047fa0f0>,
  <blockchain.blockexplorer.Transaction at 0x10479cb00>,
  <blockchain.blockexplorer.Transaction at 0x104de9580>,
  <blockchain.blockexplorer.Transaction at 0x104e006e0>,
  <blockchain.blockexplorer.Transaction at 0x104e007a0>,
  <blockchain.blockexplorer.Transaction at 0x104e00b90>,
  <blockchain.blockexplorer.Transaction at 0x104e00c50>,
  <blockchain.blockexplorer.Transaction at 0x104e00d10>,
  <blockchain.blockexplorer.Transaction at 0x104e00dd0>,
  <blockchain.blockexplorer.Transaction at 0x104e00ec0>,
  <blockchain.blockexplorer.Transaction at 0x104e00f80>,
  <blockchain.blockexplorer.Transaction at 0x104e01040>,
  <blockchain.blockexplorer.Transaction at 0x104e01ee0>,
  <blockchain.blockexplorer.Transaction at 0x104e01fa0>,
  <blockchain.blockexplorer.Transaction at 0x104e02060>,
  <blockchain.blockexplorer.Transaction at 0x104e02120>,
  <blockchain.blockexplorer.Transaction at 0x104e030e0>,
  <blockchain.blockexplorer.Transaction at 0x104e03200>,
  <blockchain.blockexplorer.Transaction at 0x104e032c0>,
  <blockchain.blockexplorer.Transaction at 0x104e03380>,
  <blockchain.blockexplorer.Transaction at 0x104e10560>,
  <blockchain.blockexplorer.Transaction at 0x104e10620>,
  <blockchain.blockexplorer.Transaction at 0x104e106e0>,
  <blockchain.blockexplorer.Transaction at 0x104e107a0>,
  <blockchain.blockexplorer.Transaction at 0x104e10860>,
  <blockchain.blockexplorer.Transaction at 0x104e10a10>,
  <blockchain.blockexplorer.Transaction at 0x104e10ad0>,
  <blockchain.blockexplorer.Transaction at 0x104e10bf0>,
  <blockchain.blockexplorer.Transaction at 0x104e10cb0>,
  <blockchain.blockexplorer.Transaction at 0x104e10dd0>,
  <blockchain.blockexplorer.Transaction at 0x104e10e90>,
  <blockchain.blockexplorer.Transaction at 0x104e11ac0>,
  <blockchain.blockexplorer.Transaction at 0x104e11bb0>,
  <blockchain.blockexplorer.Transaction at 0x104e11c70>,
  <blockchain.blockexplorer.Transaction at 0x104e11d00>,
  <blockchain.blockexplorer.Transaction at 0x104e12120>,
  <blockchain.blockexplorer.Transaction at 0x104e12ab0>,
  <blockchain.blockexplorer.Transaction at 0x104e13e30>,
  <blockchain.blockexplorer.Transaction at 0x104e13ef0>,
  <blockchain.blockexplorer.Transaction at 0x104e13fb0>,
  <blockchain.blockexplorer.Transaction at 0x104e1c0b0>,
  <blockchain.blockexplorer.Transaction at 0x104e1cbc0>,
  <blockchain.blockexplorer.Transaction at 0x104e1cc80>,
  <blockchain.blockexplorer.Transaction at 0x104e1d700>,
  <blockchain.blockexplorer.Transaction at 0x104e1d7c0>,
  <blockchain.blockexplorer.Transaction at 0x104e1d880>,
  <blockchain.blockexplorer.Transaction at 0x104e1d940>,
  <blockchain.blockexplorer.Transaction at 0x104e1da00>,
  <blockchain.blockexplorer.Transaction at 0x104e1ed20>,
  <blockchain.blockexplorer.Transaction at 0x104e1ede0>,
  <blockchain.blockexplorer.Transaction at 0x104e1eea0>,
  <blockchain.blockexplorer.Transaction at 0x104e28440>,
  <blockchain.blockexplorer.Transaction at 0x104e28500>]}

In [4]:
first_address.total_sent

53308383

In [5]:
first_address.total_received

53308383

In [6]:
len(first_address.transactions)

54

In [5]:
addresses_with_info = []

for a in addresses:
    a_info = explorer.get_address(a[0])
    adict = {
        "address": a[0],
        "related_to": a[1],
        "total_sent": a_info.total_sent,
        "total_received": a_info.total_received,
        "total_transactions": len(a_info.transactions)
        
    }
    addresses_with_info.append(adict)

In [6]:
import pandas as pd

In [7]:
address_df = pd.DataFrame(addresses_with_info)

In [8]:
address_df

,address,related_to,total_sent,total_received,total_transactions
0,3PajPWymUexhewHPczmLQ8CMYatKAGNj3y,al-Qassam Brigades,53308383,53308383,54
1,3LrjAKNfnyX2BGmor6ZNxvZutM1Q3KEejZ,al-Qassam Brigades,0,0,0
2,1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v,al-Qassam Brigades,676271792,676271792,100
3,1D9jDMKhss9vtmeRWeBA6tmts52JoQyezk,al-Qassam Brigades,12652832,12652832,6
4,1JJrTJgxSNqEPDrRBogD7odjvCwuog9Cqb,al-Qassam Brigades,44855184,44855184,18
5,17QAWGVpFV4gZ25NQug46e5mBho4uDP6MD,al-Qassam Brigades,109253891,109818169,73
6,1KDFQFnFfy9gJgXF18U3vpfeJQAeixPp1K,al-Qassam Brigades,14186,14186,2
7,1HQhQfFPesW8znZdsdizHnA8ggvtc6NJ4k,al-Qassam Brigades,250000,250000,2
8,1AW9z69zW2Wpg5i2gFs9YzkvZLjzDNx5VG,al-Qassam Brigades,12064,12064,2
9,14EwXyqiB3yVLDJ1zVNevvEDpyyhBdnzjk,al-Qassam Brigades,115618,125608,4
10,14S3GUHsqSY2am6yCPqEhb72sECUUbnRtE,al-Qassam Brigades,12592,12592,2
11,14dRMzjmatz7zkc7iRYaitMvw4YPxXJYHf,al-Qassam Brigades,162077,162077,2
12,1JJQceg2YZuCsJxUvAAVwU2YH4wDwxQoy6,al-Qassam Brigades,313928,313928,2
13,1EQFWyM1gTus8cnuwHQErnaED3um1py2pF,al-Qassam Brigades,288120,288120,2
14,19ncZQTCBfvfW5bsM7v3Pe7t6nzu4GZy4r,al-Qassam Brigades,8503009,8503009,2
15,15K9Zj1AU2hjT3ebZMtWqDsMv3fFxTNwpf,Al Sadaqah,8945595,9036343,23

## Exploring Address With Most Transactions

In [9]:
# could get programmatically
address_df.sort_values("total_received", ascending=False)["address"].values[0]

'1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v'

In [10]:
# just plugged it in
most_btc = explorer.get_address('1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v')

In [11]:
transactions = most_btc.transactions

In [12]:
transactions

[<blockchain.blockexplorer.Transaction at 0x108f7aa20>,
 <blockchain.blockexplorer.Transaction at 0x107f2cb60>,
 <blockchain.blockexplorer.Transaction at 0x108f7aab0>,
 <blockchain.blockexplorer.Transaction at 0x108f7ac30>,
 <blockchain.blockexplorer.Transaction at 0x108f7acf0>,
 <blockchain.blockexplorer.Transaction at 0x108f7ae70>,
 <blockchain.blockexplorer.Transaction at 0x108f7af30>,
 <blockchain.blockexplorer.Transaction at 0x108f7b080>,
 <blockchain.blockexplorer.Transaction at 0x108f7b140>,
 <blockchain.blockexplorer.Transaction at 0x108f7b2c0>,
 <blockchain.blockexplorer.Transaction at 0x108f7b380>,
 <blockchain.blockexplorer.Transaction at 0x108f7b440>,
 <blockchain.blockexplorer.Transaction at 0x108f7b590>,
 <blockchain.blockexplorer.Transaction at 0x108f7b6e0>,
 <blockchain.blockexplorer.Transaction at 0x108f7b7a0>,
 <blockchain.blockexplorer.Transaction at 0x108f7bc50>,
 <blockchain.blockexplorer.Transaction at 0x108f7bd10>,
 <blockchain.blockexplorer.Transaction at 0x109a20470>,
 <blockchain.blockexplorer.Transaction at 0x109a20530>,
 <blockchain.blockexplorer.Transaction at 0x109a20800>,
 <blockchain.blockexplorer.Transaction at 0x109a208c0>,
 <blockchain.blockexplorer.Transaction at 0x109a21100>,
 <blockchain.blockexplorer.Transaction at 0x109a211c0>,
 <blockchain.blockexplorer.Transaction at 0x109a22570>,
 <blockchain.blockexplorer.Transaction at 0x109a22630>,
 <blockchain.blockexplorer.Transaction at 0x109a22a20>,
 <blockchain.blockexplorer.Transaction at 0x109a22ae0>,
 <blockchain.blockexplorer.Transaction at 0x109a23320>,
 <blockchain.blockexplorer.Transaction at 0x109a233e0>,
 <blockchain.blockexplorer.Transaction at 0x109a23920>,
 <blockchain.blockexplorer.Transaction at 0x109a239e0>,
 <blockchain.blockexplorer.Transaction at 0x109a23d70>,
 <blockchain.blockexplorer.Transaction at 0x109a23e30>,
 <blockchain.blockexplorer.Transaction at 0x109a2c770>,
 <blockchain.blockexplorer.Transaction at 0x109a2c830>,
 <blockchain.blockexplorer.Transaction at 0x109a2c8f0>,
 <blockchain.blockexplorer.Transaction at 0x109a2c9b0>,
 <blockchain.blockexplorer.Transaction at 0x109a2ca70>,
 <blockchain.blockexplorer.Transaction at 0x109a2cb30>,
 <blockchain.blockexplorer.Transaction at 0x109a2cf80>,
 <blockchain.blockexplorer.Transaction at 0x109a2d040>,
 <blockchain.blockexplorer.Transaction at 0x109a2d100>,
 <blockchain.blockexplorer.Transaction at 0x109a2d1c0>,
 <blockchain.blockexplorer.Transaction at 0x109a2eae0>,
 <blockchain.blockexplorer.Transaction at 0x109a2eba0>,
 <blockchain.blockexplorer.Transaction at 0x109a2fd10>,
 <blockchain.blockexplorer.Transaction at 0x109a2fdd0>,
 <blockchain.blockexplorer.Transaction at 0x109a36240>,
 <blockchain.blockexplorer.Transaction at 0x109a36300>,
 <blockchain.blockexplorer.Transaction at 0x109a363c0>,
 <blockchain.blockexplorer.Transaction at 0x109a36480>,
 <blockchain.blockexplorer.Transaction at 0x109a365a0>,
 <blockchain.blockexplorer.Transaction at 0x109a36660>,
 <blockchain.blockexplorer.Transaction at 0x109a36f00>,
 <blockchain.blockexplorer.Transaction at 0x109a36fc0>,
 <blockchain.blockexplorer.Transaction at 0x109a37080>,
 <blockchain.blockexplorer.Transaction at 0x109a37140>,
 <blockchain.blockexplorer.Transaction at 0x109a44170>,
 <blockchain.blockexplorer.Transaction at 0x109a44230>,
 <blockchain.blockexplorer.Transaction at 0x109a442f0>,
 <blockchain.blockexplorer.Transaction at 0x109a443b0>,
 <blockchain.blockexplorer.Transaction at 0x109a44aa0>,
 <blockchain.blockexplorer.Transaction at 0x109a45100>,
 <blockchain.blockexplorer.Transaction at 0x109a451c0>,
 <blockchain.blockexplorer.Transaction at 0x109a45280>,
 <blockchain.blockexplorer.Transaction at 0x109a45340>,
 <blockchain.blockexplorer.Transaction at 0x109a45400>,
 <blockchain.blockexplorer.Transaction at 0x109a460f0>,
 <blockchain.blockexplorer.Transaction at 0x109a461b0>,
 <blockchain.blockexplorer.Transaction at 0x109a462a0>,
 <blockchain.blockexplorer.Transaction at 0x109a46360>,
 <blockchain.blockexplorer.Transaction at 0x109a46420>,
 <blockchain.blockexplorer.Transaction at 0x109a464e0>,
 <blockchain.blockexplorer.Transaction at 0x109a465d0>,
 <blockchain.blockexplorer.Transaction at 0x109a46690>,
 <blockchain.blockexplorer.Transaction at 0x109a46720>,
 <blockchain.blockexplorer.Transaction at 0x109a467e0>,
 <blockchain.blockexplorer.Transaction at 0x109a468a0>,
 <blockchain.blockexplorer.Transaction at 0x109a46960>,
 <blockchain.blockexplorer.Transaction at 0x109a46a50>,
 <blockchain.blockexplorer.Transaction at 0x109a46b10>,
 <blockchain.blockexplorer.Transaction at 0x109a47800>,
 <blockchain.blockexplorer.Transaction at 0x109a478c0>,
 <blockchain.blockexplorer.Transaction at 0x109a47980>,
 <blockchain.blockexplorer.Transaction at 0x109a5c230>,
 <blockchain.blockexplorer.Transaction at 0x109a5c3e0>,
 <blockchain.blockexplorer.Transaction at 0x109a5c4a0>,
 <blockchain.blockexplorer.Transaction at 0x109a5c7d0>,
 <blockchain.blockexplorer.Transaction at 0x109a5c890>,
 <blockchain.blockexplorer.Transaction at 0x109a5cc80>,
 <blockchain.blockexplorer.Transaction at 0x109a5cd40>,
 <blockchain.blockexplorer.Transaction at 0x109a5ce30>,
 <blockchain.blockexplorer.Transaction at 0x109a5cef0>,
 <blockchain.blockexplorer.Transaction at 0x109a5d100>,
 <blockchain.blockexplorer.Transaction at 0x109a5d1c0>,
 <blockchain.blockexplorer.Transaction at 0x109a5d2b0>,
 <blockchain.blockexplorer.Transaction at 0x109a5d370>,
 <blockchain.blockexplorer.Transaction at 0x109a5d640>,
 <blockchain.blockexplorer.Transaction at 0x109a5d700>,
 <blockchain.blockexplorer.Transaction at 0x109a5d9a0>]

In [13]:
transactions[0].__dict__

{'double_spend': False,
 'block_height': 555277,
 'time': 1545664224,
 'relayed_by': '0.0.0.0',
 'hash': 'f91aea2a814f448fd9afcc6e62bb230bf61fb741aff860fbf4482993ceffebe1',
 'tx_index': 7948919209354537,
 'version': 1,
 'size': 221,
 'inputs': [<blockchain.blockexplorer.Input at 0x108f7aa80>],
 'outputs': [<blockchain.blockexplorer.Output at 0x108f7aa50>,
  <blockchain.blockexplorer.Output at 0x108eb4b00>]}

In [14]:
input_addresses = {}
output_addresses = {}

for t in transactions:
    for i in t.inputs:
        if i.address in input_addresses:
            input_addresses[i.address] += i.value
        else:
            input_addresses[i.address] = i.value
    for o in t.outputs:
        if o.address in output_addresses:
            output_addresses[o.address] += o.value
        else:
            output_addresses[o.address] = o.value

In [15]:
inputs_df = pd.DataFrame.from_dict(input_addresses, orient='index', columns=['input_total'])
outputs_df = pd.DataFrame.from_dict(output_addresses, orient='index', columns=['output_total'])

In [16]:
total_transactions = (
    inputs_df
    .join(outputs_df, how="outer")
    .fillna(0)
    .assign(total_transacted = lambda df: df.sum(axis=1))
    .sort_values("total_transacted", ascending=False)
)

In [18]:
total_transactions

,input_total,output_total,total_transacted
17A16QmavnUfCW11DAApiJxp7ARnxN5pGX,3.130037e+10,1.295359e+10,4.425396e+10
1PCwgidrBwVikqYsy6bBiG9ifsL7MHEZae,0.000000e+00,1.277610e+10,1.277610e+10
18D79VG5xjDcyb8fWmbcdSRQzpuEVsJb8R,1.132674e+10,0.000000e+00,1.132674e+10
1BVu5fuJAqYZETZhfCenTaR1k3aDopbvuA,0.000000e+00,1.129179e+10,1.129179e+10
1N52wHoVR79PMDishab2XmRHsbekCdGquK,8.031405e+09,1.466403e+09,9.497808e+09
...,...,...,...
17sLNdB6e5ogyaAwaGQX6Qs52aMhrcyZzW,0.000000e+00,1.741000e+03,1.741000e+03
1B5UrJg8d49yFf5gTwzYzNzpmPd6aKsePc,1.691000e+03,0.000000e+00,1.691000e+03
1KyFoW3ZayuG4kHtvpSyg9j55y7KXTewKB,0.000000e+00,1.000000e+03,1.000000e+03
1FRKKPfR2zoAwshNn9baNjgYKyXKF9iBpi,0.000000e+00,8.770000e+02,8.770000e+02
1GEtiu1jhhDEu1YW276Gb1yF9m2BWQ8EgB,0.000000e+00,6.430000e+02,6.430000e+02

In [19]:
# it didn't interact with any of the others?
total_transactions.reset_index().loc[lambda x: x["index"].isin([ a[0] for a in addresses ])]

,index,input_total,output_total,total_transacted
25,1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v,265204767.0,265204767.0,530409534.0

In [20]:
# six addresses transacted in and out with the address
total_transactions.loc[lambda x: (x["input_total"] > 0) & (x["output_total"] > 0)]

,input_total,output_total,total_transacted
17A16QmavnUfCW11DAApiJxp7ARnxN5pGX,3.130037e+10,1.295359e+10,4.425396e+10
1N52wHoVR79PMDishab2XmRHsbekCdGquK,8.031405e+09,1.466403e+09,9.497808e+09
1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v,2.652048e+08,2.652048e+08,5.304095e+08
1LaNXgq2ctDEa4fTha6PTo8sucqzieQctq,1.277536e+07,8.220110e+05,1.359737e+07
16DAezrvBGpEd5R33SkDhaXUF15iVWPVyS,1.313306e+07,2.669200e+05,1.339998e+07
1Ln3Y4j1e5vKt6YxShNkdLUPcZrQH7Rkcd,2.318386e+06,1.856680e+06,4.175066e+06

`1LaNXgq2ctDEa4fTha6PTo8sucqzieQctq` appears in this [Coin Telegraph](https://cointelegraph.com/news/report-hamas-iran-tied-militants-intensify-bitcoin-fundraising-action) article about Hamas funding

I couldn't find absolutely anything on the last two.

In [21]:
def convert_satoshis_to_usd(num):
    btc = num * 0.00000001 # there are 100 million satoshis in a bitcoin
    usd = btc * 62922.60 # price as of 9/26 would be better to do on day of transaction
    return usd

In [22]:
total_transactions["input_$"] = total_transactions["input_total"].apply(lambda x: convert_satoshis_to_usd(x))
total_transactions["output_$"] = total_transactions["output_total"].apply(lambda x: convert_satoshis_to_usd(x))
total_transactions["total_$"] = total_transactions["total_transacted"].apply(lambda x: convert_satoshis_to_usd(x))

In [23]:
pd.set_option('display.float_format', '{:.2f}'.format) # to remove scientific notation

In [24]:
total_transactions.loc[lambda x: (x["input_total"] > 0) & (x["output_total"] > 0)]

,input_total,output_total,total_transacted,input_$,output_$,total_$
17A16QmavnUfCW11DAApiJxp7ARnxN5pGX,31300368499.00,12953587002.00,44253955501.00,19695005.67,8150733.73,27845739.40
1N52wHoVR79PMDishab2XmRHsbekCdGquK,8031404816.00,1466403104.00,9497807920.00,5053568.73,922698.96,5976267.69
1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v,265204767.00,265204767.00,530409534.00,166873.73,166873.73,333747.47
1LaNXgq2ctDEa4fTha6PTo8sucqzieQctq,12775362.00,822011.00,13597373.00,8038.59,517.23,8555.82
16DAezrvBGpEd5R33SkDhaXUF15iVWPVyS,13133056.00,266920.00,13399976.00,8263.66,167.95,8431.61
1Ln3Y4j1e5vKt6YxShNkdLUPcZrQH7Rkcd,2318386.00,1856680.00,4175066.00,1458.79,1168.27,2627.06

In [25]:
total_transactions.sort_values("input_$", ascending=False).head(10)

,input_total,output_total,total_transacted,input_$,output_$,total_$
17A16QmavnUfCW11DAApiJxp7ARnxN5pGX,31300368499.00,12953587002.00,44253955501.00,19695005.67,8150733.73,27845739.40
18D79VG5xjDcyb8fWmbcdSRQzpuEVsJb8R,11326738232.00,0.00,11326738232.00,7127078.19,0.00,7127078.19
1N52wHoVR79PMDishab2XmRHsbekCdGquK,8031404816.00,1466403104.00,9497807920.00,5053568.73,922698.96,5976267.69
1GE4qFFGtWLxmraqcYtQzrmtcEgM4573am,5000000000.00,0.00,5000000000.00,3146130.00,0.00,3146130.00
169Q3Sz3UQQGKofpxh6T8cZxfky1q2Z595,5000000000.00,0.00,5000000000.00,3146130.00,0.00,3146130.00
18UiXqW2s8wST5q3qWmFFUWJnhkVo1vwtF,4438415677.00,0.00,4438415677.00,2792766.54,0.00,2792766.54
1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,3695021405.00,0.00,3695021405.00,2325003.54,0.00,2325003.54
1Kb6tJXpFQ4St9fa4ca3jA89mkKe7Jvxf,2148722000.00,0.00,2148722000.00,1352031.75,0.00,1352031.75
1Djwqdsq8WHhsMnqwv4mbAsynHYTogTR51,1634647677.00,0.00,1634647677.00,1028562.82,0.00,1028562.82
12j2Rd66NoiWhiANHZ51ufQWpV4hFtQo3r,1000000000.00,0.00,1000000000.00,629226.00,0.00,629226.00

According to a [Tweet](https://x.com/binance/status/961666467325358081?lang=en), `1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s` belongs to the company Binance.